@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  height: 100%;
}

#app {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.custom-scrollbar, #app {
  --default-thumb: #fb923c;
  --default-track: #fed7aa;
  scrollbar-color: var(--thumb, var(--default-thumb)) var(--track, var(--default-track));
  scrollbar-width: thin;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--track, var(--default-track));
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--thumb, var(--default-thumb));
    border-radius: 2px;
    border: transparent;
  }
  &.is-thumb-only {
    --track: transparent;
    --thumb: var(--default-track);
  }
}

.sr-only:not(input) {
  position: relative;
  display: block;
}

@media (prefers-color-scheme: dark) {
  input[type="time"] {
    color-scheme: dark;
  }
}