@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  height: 100%;
}

#app {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.custom-scrollbar, #app {
  --default-thumb: #fb923c;
  --default-track: #fed7aa;
  scrollbar-color: var(--thumb, var(--default-thumb)) var(--track, var(--default-track));
  scrollbar-width: thin;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--track, var(--default-track));
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--thumb, var(--default-thumb));
    border-radius: 2px;
    border: transparent;
  }
  &.is-thumb-only {
    --track: transparent;
    --thumb: var(--default-track);
  }
}

.sr-only:not(input) {
  position: relative;
  display: block;
}

@media (prefers-color-scheme: dark) {
  input[type="time"], input[type="date"] {
    color-scheme: dark;
  }
}

.weather-icon {
  --imagemap-icon-dimensions: 48;
  --intended-icon-dimensions: 48;
  --imagemap-width: 288px;
  --imagemap-height: 240px;
  --size-multiplier: var(--intended-icon-dimensions) / var(--imagemap-icon-dimensions);
  width: calc(var(--intended-icon-dimensions) * 1px);
  height: calc(var(--intended-icon-dimensions) * 1px);
  background-image: url("./weather-icons.png");
  background-position: calc(var(--x) * var(--size-multiplier)) calc(var(--y) * var(--size-multiplier));
  background-size: calc(var(--imagemap-width) * (var(--size-multiplier))) calc(var(--imagemap-height) * (var(--size-multiplier)));
  border: 2px solid black;
  box-sizing: content-box;
  &.blowing-dust {
    --x: 0px;
    --y: 0px;
  }
  &.cloud {
    --x: -48px;
    --y: 0px;
  }
  &.floating-dust {
    --x: 0px;
    --y: -48px;
  }
  &.fog {
    --x: -48px;
    --y: -48px;
  }
  &.hail {
    --x: -96px;
    --y: 0px;
  }
  &.haze {
    --x: -96px;
    --y: -48px;
  }
  &.lightning-rain-cloud {
    --x: 0px;
    --y: -96px;
  }
  &.lightning-snow-cloud {
    --x: -48px;
    --y: -96px;
  }
  &.moon {
    --x: -96px;
    --y: -96px;
  }
  &.moon-cloud {
    --x: -144px;
    --y: 0px;
  }
  &.moon-rain-cloud {
    --x: -144px;
    --y: -48px;
  }
  &.moon-snow-cloud {
    --x: -144px;
    --y: -96px;
  }
  &.rain-3 {
    --x: 0px;
    --y: -144px;
  }
  &.rain-4 {
    --x: -48px;
    --y: -144px;
  }
  &.rain-5 {
    --x: -96px;
    --y: -144px;
  }
  &.rain-5-alt {
    --x: -144px;
    --y: -144px;
  }
  &.rain-6 {
    --x: -192px;
    --y: 0px;
  }
  &.rain-snow-cloud {
    --x: -192px;
    --y: -48px;
  }
  &.sandstorm {
    --x: -192px;
    --y: -96px;
  }
  &.snow-1 {
    --x: -192px;
    --y: -144px;
  }
  &.snow-2 {
    --x: 0px;
    --y: -192px;
  }
  &.snow-3 {
    --x: -48px;
    --y: -192px;
  }
  &.snow-4 {
    --x: -96px;
    --y: -192px;
  }
  &.sun {
    --x: -144px;
    --y: -192px;
  }
  &.sun-cloud {
    --x: -192px;
    --y: -192px;
  }
  &.sun-rain-cloud {
    --x: -240px;
    --y: 0px;
  }
  &.sun-snow-cloud {
    --x: -240px;
    --y: -48px;
  }
  &.tornado {
    --x: -240px;
    --y: -96px;
  }
}